/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/Dvideo/_content.scss */
.ie-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 2147483647;
}

/* line 12, ../sass/Dvideo/_content.scss */
.Dvideo-content {
  position: relative;
  background: #000;
  width: 100%;
  height: 100%;
  overflow: hidden;
}
/* line 19, ../sass/Dvideo/_content.scss */
.Dvideo-content .Dvideo-ele {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl {
  position: absolute;
  bottom: -40px;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  left: 0;
  right: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  font-size: 0;
}
/* line 13, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl.active {
  bottom: 0;
}
/* line 18, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail {
  width: 100%;
  height: 100%;
  font-size: 0;
  position: relative;
}
/* line 23, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-ctrl-state {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto;
  height: 100%;
  padding: 0 8px;
  text-align: center;
}
/* line 29, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-ctrl-state:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
/* line 36, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-ctrl-state .Dvideo-ctrl-playPause {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  color: #fff;
  font-size: 24px;
  margin-right: 16px;
  cursor: pointer;
}
/* line 44, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-ctrl-state .Dvideo-ctrl-next {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  vertical-align: middle;
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}
/* line 52, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-time-content {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: auto;
  color: #787d82;
  font-size: 0;
  font-weight: 200;
}
/* line 58, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-time-content .Dvideo-text-current, .Dvideo-ctrl .Dvideo-detail .Dvideo-time-content .Dvideo-text-duration {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 12px;
  width: 50px;
  text-align: center;
  position: relative;
}
/* line 65, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-time-content .Dvideo-text-duration:before {
  content: '/';
  position: absolute;
  top: 50%;
  left: 0;
  color: #fff;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 74, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-menu-right-content {
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  width: auto;
  padding-right: 10px;
}
/* line 81, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-menu-right-content:after {
  content: '';
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  width: 0;
  height: 100%;
  vertical-align: middle;
}
/* line 89, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-detail .Dvideo-menu-right-content i {
  display: inline-block;
  vertical-align: middle;
  *vertical-align: auto;
  *zoom: 1;
  *display: inline;
  font-size: 16px;
  color: #787d82;
  vertical-align: middle;
  cursor: pointer;
}
/* line 98, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content {
  height: 1px;
  width: 100%;
  cursor: pointer;
  position: absolute;
  bottom: 40px;
  background: #333;
}
/* line 105, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content .Dvideo-progress-buffered {
  width: 0;
  height: 100%;
  background: #999;
  position: absolute;
  top: 0;
  left: 0;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
/* line 114, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content .Dvideo-progress-real {
  width: 0%;
  height: 100%;
  background: red;
  position: relative;
  -moz-transition: width 0.3s;
  -o-transition: width 0.3s;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}
/* line 121, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content .Dvideo-circle-range {
  display: none;
  position: absolute;
  top: -5px;
  right: -7px;
  width: 14px;
  height: 14px;
  background: #fff;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
}
/* line 130, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content .Dvideo-circle-range:after {
  content: '';
  position: absolute;
  top: 50%;
  left: 50%;
  width: 6px;
  height: 6px;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  background: red;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
/* line 142, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content.active {
  height: 4px;
}
/* line 144, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl .Dvideo-progress-content.active .Dvideo-circle-range {
  display: block;
}

/* line 151, ../sass/Dvideo/_ctrl.scss */
.Dvideo-header {
  position: absolute;
  top: 0;
  height: 36px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  left: 0;
  right: 0;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=0);
  opacity: 0;
  visibility: hidden;
}
/* line 163, ../sass/Dvideo/_ctrl.scss */
.Dvideo-header.active {
  filter: progid:DXImageTransform.Microsoft.Alpha(enabled=false);
  opacity: 1;
  visibility: visible;
}
/* line 168, ../sass/Dvideo/_ctrl.scss */
.Dvideo-header .Dvideo-header-title {
  width: 80%;
  height: 100%;
  padding: 0 8px;
  font-size: 14px;
  color: rgba(255, 255, 255, 0.8);
  white-space: nowrap;
  overflow: hidden;
  -ms-text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
  text-overflow: ellipsis;
}

/* line 11, ../sass/Dvideo.scss */
:-webkit-full-screen {
  /* properties */
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 21, ../sass/Dvideo.scss */
:-moz-full-screen {
  /* properties */
}

/* line 25, ../sass/Dvideo.scss */
:-ms-fullscreen {
  /* properties */
}

/* line 29, ../sass/Dvideo.scss */
:full-screen {
  /*pre-spec */
  /* properties */
}

/* line 33, ../sass/Dvideo.scss */
:fullscreen {
  /* spec */
  /* properties */
}

/* deeper elements */
/* line 38, ../sass/Dvideo.scss */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
/* line 44, ../sass/Dvideo.scss */
::backdrop {
  /* properties */
}

/* line 47, ../sass/Dvideo.scss */
::-ms-backdrop {
  /* properties */
}
