/* line 5, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, C:/Ruby22-x64/lib/ruby/gems/2.2.0/gems/compass-core-1.0.3/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block;
}

/* line 1, ../sass/Dvideo/_content.scss */
.ie-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 2147483647;
}

/* line 12, ../sass/Dvideo/_content.scss */
.Dvideo-content {
  position: relative;
  background: #000;
  width: 100%;
  height: 100%;
}
/* line 18, ../sass/Dvideo/_content.scss */
.Dvideo-content .Dvideo-ele {
  width: 100%;
  height: auto;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

/* line 1, ../sass/Dvideo/_ctrl.scss */
.Dvideo-ctrl {
  position: absolute;
  bottom: 0;
  height: 40px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  left: 0;
  right: 0;
}

/* line 11, ../sass/Dvideo/_ctrl.scss */
.Dvideo-header {
  position: absolute;
  top: 0;
  height: 36px;
  line-height: 36px;
  background: rgba(0, 0, 0, 0.8);
  width: 100%;
  left: 0;
  right: 0;
}

/* line 11, ../sass/Dvideo.scss */
:-webkit-full-screen {
  /* properties */
  background-color: black;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
}

/* line 21, ../sass/Dvideo.scss */
:-moz-full-screen {
  /* properties */
}

/* line 25, ../sass/Dvideo.scss */
:-ms-fullscreen {
  /* properties */
}

/* line 29, ../sass/Dvideo.scss */
:full-screen {
  /*pre-spec */
  /* properties */
}

/* line 33, ../sass/Dvideo.scss */
:fullscreen {
  /* spec */
  /* properties */
}

/* deeper elements */
/* line 38, ../sass/Dvideo.scss */
:-webkit-full-screen video {
  width: 100%;
  height: 100%;
}

/* styling the backdrop*/
/* line 44, ../sass/Dvideo.scss */
::backdrop {
  /* properties */
}

/* line 47, ../sass/Dvideo.scss */
::-ms-backdrop {
  /* properties */
}
