.ie-fullscreen{
	position:fixed;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100%!important;
	height:100%!important;
	z-index:2147483647;
}

.Dvideo-content{
	position:relative;
	background:$content_bg;
	width: 100%;
	height: 100%;
	overflow:hidden;
	@include user-select(none);
	// @include display-flex;
	.Dvideo-ele{
		width: 100%;
		height: 100%;
		position: absolute;
		top: 50%;
		left: 50%;
		@include translate(-50%,-50%);
	}
}
