.Dvideo-ctrl{
	position:absolute;
	bottom:- $ctrl_height;
	height:$ctrl_height;
	background:$ctrl_bg;
	width:100%;
	left:0;
	right:0;
	@include transition(all $duration_time ease);
	// @include opacity(0);
	// visibility:hidden;
	font-size: 0;
	&.active{
		// @include opacity(1);
		// visibility:visible;
		bottom:0;
	}
	&:before{
		content: '';
		position:absolute;
		left: 0;
		right: 0;
		bottom: $ctrl_height;
		height: 10px;
		background: transparent;
	}
	.Dvideo-detail{
		width: 100%;
		height: 100%;
		font-size: 0;
		position: relative;
		.Dvideo-ctrl-state{
			@include inline-block;
			width: auto;
			height: 100%;
			padding:0 8px;
			text-align: center;
			&:after{
				content:'';
				@include inline-block;
				width:0;
				height:100%;
				vertical-align:middle;
			}
			.Dvideo-ctrl-playPause{
				@include inline-block;
				vertical-align: middle;
				color: #fff;
				font-size: 24px;
				margin-right: 16px;
				cursor: pointer;
			}
			.Dvideo-ctrl-next{
				@include inline-block;
				vertical-align: middle;
				color: #fff;
				font-size: 20px;
				cursor: pointer;
			}
		}
		.Dvideo-time-content{
			@include inline-block;
			width: auto;
			color: $icon_color;
			font-size: 0;
			font-weight: 200;
			.Dvideo-text-current,.Dvideo-text-duration{
				@include inline-block;
				font-size: 12px;
				width: 50px;
				text-align: center;
				position:relative;
			}
			.Dvideo-text-duration:before{
				content: '/';
				position: absolute;
				top: 50%;
				left: 0;
				color: #fff;
				@include translate(-50%,-50%);
			}
		}
		.Dvideo-menu-right-content{
			position:absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: auto;
			padding-right: 10px;
			&:after{
				content:'';
				@include inline-block;
				width:0;
				height:100%;
				vertical-align:middle;
			}

			i{
				@include inline-block;
				font-size: 16px;
				color: $icon_color;
				vertical-align: middle;
				cursor: pointer;
			}
		}
	}
	.Dvideo-progress-content{
		height: 1px;
		width: 100%;
		cursor: pointer;
		position:absolute;
		bottom: $ctrl_height;
		background:$progress_auto_bg;
		z-index: 2;
		.Dvideo-progress-detail{
			height: 100%;
			width: 100%;
			.Dvideo-progress-buffered{
				width: 0;
				height: 100%;
				background:$progress_buffered_bg;
				position:absolute;
				top: 0;
				left: 0;
				@include transition(width 0.3s);
			}
			.Dvideo-progress-real{
				width: 0%;
				height: 100%;
				background:$progress_real_bg;
				position: relative;
				@include transition(width 0.3s);
			}
		}
		.Dvideo-circle-range{
			display: none;
			position:absolute;
			top: -5px;
			left: 0;
			margin-left: -7px;
			width: 14px;
			height: 14px;
			background: #fff;
			@include border-radius(50%);
			&:after{
				content: '';
				position:absolute;
				top:50%;
				left: 50%;
				width: 6px;
				height: 6px;
				@include border-radius(50%);
				background: $progress_real_bg;
				@include translate(-50%,-50%);
			}
		}
		&.active{
			height: 4px;
			.Dvideo-progress-detail{
				.Dvideo-progress-real{
					@include transition(none);
				}
			}
			.Dvideo-circle-range{
				display: block;
			}
		}
	}
	.Dvideo-tips-info{
		position:absolute;
		left: 0;
		right: 0;
		bottom: $ctrl_height;
		height: 28px;
		line-height: 28px;
		z-index: 1;
		background: transparent;
		color: #fff;
	    font-size: 12px;
	}
}

.Dvideo-header{
	position:absolute;
	top:0;
	height:$header_height;
	line-height: $header_height;
	background:$ctrl_bg;
	width:100%;
	left:0;
	right:0;
	@include transition(all $duration_time ease);
	@include opacity(0);
	visibility:hidden;
	&.active{
		@include opacity(1);
		visibility:visible;
	}
	// 头部文字内容
	.Dvideo-header-title{
		width: 80%;
		height: 100%;
		padding: 0 $padding_leftright;
		font-size: 14px;
		color: $text_deep_color;
		@include ellipsis();
	}
}
